---
- name: system | Upgrade system
  ansible.builtin.apt:
    update_cache: true
    upgrade: dist
    autoremove: true
    autoclean: true
  async: 3600
  poll: 5
  when: upgrade_system | default(false) | bool
  tags:
    - system

- name: system | Install basic security packages
  ansible.builtin.apt:
    state: present
    name:
      - ufw
      - unattended-upgrades
      - fail2ban
      - iptables-persistent
  tags:
    - system

- name: system | Install tools
  ansible.builtin.apt:
    state: present
    name:
      - apt-transport-https
      - bash-completion
      - bc
      - bzip2
      - ca-certificates
      - curl
      - direnv
      - dnsutils
      - file
      - gh
      - git
      - gnupg
      - gnupg-agent
      - htop
      - jq
      - less
      - lsof
      - man-db
      - netcat-openbsd
      - openssh-client
      - procps
      - psmisc
      - ripgrep
      - rsync
      - socat
      - sudo
      - tree
      - tmux
      - unzip
      - vim
      - zip
  tags:
    - system

# System check
- name: system | Check if a reboot is required
  ansible.builtin.shell: "[ -f /var/run/reboot-required ]"
  failed_when: false
  register: reboot_required
  changed_when: reboot_required.rc == 0
  notify: Reboot instance
  tags:
    - system
